pandas>=2.0
numpy>=1.26
python-dotenv>=1.0
pyyaml>=6.0

# Snowflake
snowflake-connector-python>=3.10
snowflake-sqlalchemy>=1.5

# dbt
dbt-core>=1.8
dbt-snowflake>=1.8

# Notebooks / Viz / ML
ipykernel>=6.29
matplotlib>=3.8
scikit-learn>=1.5
prophet>=1.1
